.btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 6px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5),
    0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25),
    0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose);
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    /* border: 1px solid red; */
}

.section {
    margin-top: 5rem;
}

#backToTop {
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 1;
    padding: 1 em 1.5em;
    opacity: 0;
    pointer-events: none;
    transform: translateY(30px);
    transition: opacity 0.4s, transform 0.4s;
}

#backToTop.visible {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

/* Initial state */
.animate-on-scroll {
  opacity: 1;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s cubic-bezier(.23,1.01,.32,1);
}

/* Animated state */
.animate-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}


/* xs */
@media (min-width: 475px) {
    .container{
        max-width: 475px;
    }
}
/* sm */
@media (min-width: 640px) {
    .container{
        max-width: 640px;
    }
}
/* md */
@media (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}
/* lg */
@media (min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}

.section {
    margin-top: 10rem;
}
/* xl */
@media (min-width: 1280px) {
    .container{
        max-width: 1280px;
    }
}
/* xxl */
@media (min-width: 1536px) {
    .container{
        max-width: 1536px;
    }
}

