.about {
    display: flex;
    flex-direction: row;
    gap: 15rem;
    padding-right: 0;
    padding-top: 100px;
}

.about__content1 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* animation: slideInLeft 1.5s ease-in 1s 1 normal none; */
}

.about__content2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__title {
    font-size: var(--size-6xl);
    color: var(--clr-light);
}

.about__description {
    max-width: 60ch;
    font-size: var(--size-2xl);
    color: var(--clr-slate600);
}

.about__hr {
    border-color: var(--clr-slate800);
}

.about__subtitle {
    font-size: var(--size-sm);
    color: var(--clr-slate400);
}

.about__ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style-type:none;
    padding-left: 0;
    /* border: 1px solid red; */
    /* flex: 1; */
}

.about__list {
    font-size: var(--size-sm);
    color: var(--clr-slate600);
}

.about__ul-container {
    display: flex;
    gap: 15em;
}

.about__tech-pics {
    display: flex;
    justify-content: center;
}

.about__tech-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
}

.about__tech-row:not(:last-child) {
    margin-right: 25px;
}

.about__tech-item {
    opacity: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 160px;
    border: double 3px var(--clr-rose);
    border-image-slice: 1;
    border-width: 3px;

    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.about__tech-item:not(:last-child) {
    margin-bottom: 25px;
}

.offset-right {
    margin-left: 100px;
}

.offset-down {
    margin-top: 105px;
}

.about__tech-name {
    font-size: var(--size-sm);
    font-weight: 600;
    line-height: 1;
}

@keyframes slideInLeft {
    from{transform: translateX(-300px);}
    to {transform: translate(0);}
}
